body{
    background-color: aquamarine;
}

h1{
    font-family: sans-serif;
    text-align: center;
}

h2{
    font-family: sans-serif;
    text-align: center;
}

p {
font-family: sans-serif;
color: blueviolet;
text-align: left;

}